<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="YOUR_TLD.YOUR_COMPANY_NAME.YOUR_XAMARIN_FORMS_APP_NAME">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<application android:label="YOUR_XAMARIN_FORMS_APP_NAME.Android"></application>
</manifest>